@tailwind base;
@tailwind components;
@tailwind utilities;

html,
body {
  transition: background-color 0.3s ease, color 0.3s ease;
}

@layer base {
    /* Menyembunyikan scrollbar tetapi tetap bisa scroll */
    .custom-scrollbar::-webkit-scrollbar {
      display: none;
    }
    .custom-scrollbar {
      -ms-overflow-style: none;  /* Internet Explorer 10+ */
      scrollbar-width: none;  /* Firefox */
    }
  }

  /* Tambahkan animasi glow */
@keyframes glow {
  0% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  }
  50% {
    box-shadow: 0 0 20px rgba(255, 255, 255, 1);
  }
  100% {
    box-shadow: 0 0 5px rgba(255, 255, 255, 0.6);
  }
}

/* Class untuk efek glow saat hover */
.glow-effect:hover {
  animation: glow 1s ease-out;
}
